<div class="container">
  <button id="fixed-button" type="button" > <i class="fas fa-map-marker-alt fa-2x"></i>Map</button>
  <div id ="total-barbershops">
    <h1>
      <%= @barber_shops.size %> Résultats:
    </h1>
  </div>
  <div class="cards">
    <% @barber_shops.each do |barber_shop|  %>
      <div class="one-barbershop">
        <div id="big-picture-landscape" >
        <%= cl_image_tag barber_shop.photos.first.key if barber_shop.photos.attached? %>
          <div id="reviews-bs">
            <div id="rating-bs">
               <%= barber_shop.reviews.pluck(:rating).reduce%>⭐️
            </div>
            <div id="number-reviews-bs">
              <%= barber_shop.reviews.pluck(:rating).count%> reviews
            </div>
          </div>
        </div>
        <div id="small-picture-square">
          <div id= "first-img" >
          <% if barber_shop.photos.attached?%>
            <%= cl_image_tag barber_shop.portfolios.first.key %>
          <% end %>
          </div>
          <div id="second-img">
          <% if barber_shop.photos.attached?%>
            <%= cl_image_tag barber_shop.portfolios.second.key %>
            <% end %>
          </div>
          <div id="third-img">
          <% if barber_shop.photos.attached?%>
            <%= cl_image_tag barber_shop.portfolios.third.key %>
            <% end %>
          </div>
          <div id="last-img">
          <% if barber_shop.photos.attached?%>
            <%= cl_image_tag barber_shop.portfolios.fourth.key %>
            <% end %>
          </div>
        </div>
        <h1>
          <div id="name-barbershop">
            <%= barber_shop.name %>
          </div>
        </h1>
        <h2>
          <div id="address-barbershop">
            <%= barber_shop.address %>
          </div>
        </h2>
      </div>
    <% end %>
  </div>
</div>

<% console %>
