<div class="container">
  <!-- Button trigger modal -->
  <button id="fixed-button" type="button" data-toggle="modal" data-target="#exampleModal" > <i class="fas fa-map-marker-alt fa-2x"></i>Map</button>
  <div id ="total-barbershops">

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="map" id="map" style="height: 98vh; width: 94vw;"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
          data-markers="<%= @markers.to_json %>">
      </div>
      </div>
    </div>
  </div>
</div>
    <%= form_tag barber_shops_path, method: :get, class: "form-inline md-form mr-auto mb-4" do %>
      <div class="btn-search-index">
        <%= text_field_tag :address,
          params[:address],
          class: "form-control mr-sm-2",
          input_html: {id: "address"},
          placeholder: "Adresse",
          value: @address_geocoded
          %>
          <%= hidden_field_tag "latitude" %>
          <%= hidden_field_tag "longitude" %>
          <%= button_tag(type: "submit", class: "btn-brown1 btn-brown:hover border-0") do %>
            <i class="fas fa-search"></i>
        <% end %>
      </div>
    <% end %>
    <h1>
      <%= @barber_shops.size %> Résultats:
    </h1>
  </div>
  <div class="cards">
    <% @barber_shops.each do |barber_shop|  %>
      <div class="one-barbershop">
        <div id="big-picture-landscape" >
        <%if barber_shop.photos.attached? %>
          <%= link_to barber_shop_path(barber_shop) do %>
            <%= cl_image_tag barber_shop.photos.first.key %>
           <% end %>
        <% end %>
          <div id="reviews-bs">
            <div id="rating-bs">
               <%= (barber_shop.reviews.pluck(:rating).sum / barber_shop.reviews.pluck(:rating).count.to_f).round(1)%> ⭐️
            </div>

          </div>
        </div>
        <div id="small-picture-square">
          <div id= "first-img" >
          <% if barber_shop.photos.attached?%>
            <%= link_to barber_shop_path(barber_shop) do %>
              <%= cl_image_tag barber_shop.portfolios.first.key %>
            <% end %>
          <% end %>
          </div>
          <div id="second-img">
          <% if barber_shop.photos.attached?%>
            <%= link_to barber_shop_path(barber_shop) do %>
              <%= cl_image_tag barber_shop.portfolios.second.key %>
            <% end %>
          <% end %>
          </div>
          <div id="third-img">
          <% if barber_shop.photos.attached?%>
            <%= link_to barber_shop_path(barber_shop) do %>
              <%= cl_image_tag barber_shop.portfolios.third.key %>
            <% end %>
          <% end %>
          </div>
        </div>
        <h1>
          <div id="name-barbershop">
            <%= barber_shop.name %>
          </div>
        </h1>
        <h2>
          <div id="address-barbershop">
            <%= barber_shop.address %>
          </div>
        </h2>
      </div>
    <% end %>
  </div>
</div>
