
<%= render 'shared/carousel' %>
<div class="card-info-barber">
  <div class="info-barber">
    <%= link_to url_for(:back) do %>
      <i class="fas fa-arrow-circle-left"></i>
    <% end %>
    <h2><%= @barber_shop.name %></h2>
    <p><i class="fas fa-home"></i> <%= @barber_shop.address %></p>
  </div>
</div>


<ul class="nav nav-pills mb-1 d-flex justify-content-around" id="pills-tab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="pills-coiffures-tab" data-toggle="pill" href="#pills-coiffures" type="button" role="tab" aria-controls="pills-coiffures" aria-selected="true">Coiffures</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="pills-portfolio-tab" data-toggle="pill" href="#pills-portfolio" type="button" role="tab" aria-controls="pills-portfolio" aria-selected="false">Portfolio</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="pills-notes-tab" data-toggle="pill" href="#pills-notes" type="button" role="tab" aria-controls="pills-notes" aria-selected="false">Notes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="pills-details-tab" data-toggle="pill" href="#pills-details" type="button" role="tab" aria-controls="pills-details" aria-selected="false">Détails</a>
  </li>
</ul>

<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-coiffures" role="tabpanel" aria-labelledby="pills-coiffures-tab">

    <%= form_tag new_booking_path, method: :get do %>
      <% @barber_shop.shop_services.each do |shop_service| %>
        <input type="checkbox" class="checkbox-service" name="booking_services[]" style="display: none;" id="booking_services_<%= shop_service.id %>" value="<%= shop_service.id %>">
        <label for="booking_services_<%= shop_service.id %>" class="show-services">
          <div class="service-details">
            <div>
              <h3><%= shop_service.service.name %></h3>
              <p><%= shop_service.description %></p>
            </div>
            <div class="text-right" id="text-right-card">
              <p><strong><%= shop_service.price %> €</strong></p>
              <p><i class="far fa-clock"></i>  <%= shop_service.duration %>mn</p>
            </div>
          </div>
        </label>
        <p class="underline"></p>
      <% end %>
      <%= button_tag(type: "submit", class: "btn-brown2 btn-brown:hover border-0") do %>
         Book
      <% end %>
    <% end %>

  </div>

  <div class="tab-pane fade" id="pills-portfolio" role="tabpanel" aria-labelledby="pills-portfolio-tab">
    <div class="portfolio_wrap">
      <% @barber_shop.portfolios.each do |photo| %>
        <div class="realisations">
          <%= cl_image_tag photo.key, height:100, crop: :fill %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="tab-pane fade" id="pills-notes" role="tabpanel" aria-labelledby="pills-notes-tab">
    <div class="card-review">
      <div class="moyenne-rating">
        <div class="moyenne">
          <p>Note moyenne</p>
          <p> <%= (@barber_shop.reviews.pluck(:rating).sum / @barber_shop.reviews.pluck(:rating).count.to_f).round(1)%>/5</p>
          <p> <%= @barber_shop.reviews.pluck(:rating).count %> <i class="far fa-comment-dots"></i></p>

        </div>
        <div class="star-ratings">
          <% [5, 4, 3, 2, 1, 0].each do |i| %>
          <div class="star-rating">
              <p><%= i %>  <i class="fas fa-star"></i></p>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: <%= @barber_shop.rating_count_percent(i)  %>%" aria-valuenow="<%= @barber_shop.rating_count_percent(4)  %>" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          <%= @barber_shop.rating_count(i) %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="comment-rating">
      <% @barber_shop.reviews.each do |review| %>
        <div class="notification">
          <div class="notification-content">
            <p><%= review.user.first_name %> <%= review.user.last_name %></p>
            <p><i class="fas fa-star"> </i> <%= review.rating %> | <%= l(review.booking.end_datetime, format: "%d %B %Y") %></p>
          <p id='comment-user'><i>"<%= review.comment %>"</i></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="tab-pane fade" id="pills-details" role="tabpanel" aria-labelledby="pills-details-tab">
    <div class="card-map">
      <div class="map-details-barber" id="map"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
          data-markers="<%= @markers.to_json %>">
        <p><%= @barber_shop.address %></p>
      </div>
    </div>
    <p class="underline"></p>
    <div class="btn-service d-flex">
      <p><i class="fas fa-phone-alt"> </i> - <%= @barber_shop.phone_number %> </p>
      <a class="btn btn-flat" href="#"> Appeler</a>
    </div>
    <p class="underline"></p>
    <br>
      <div class="opening">
          <% @barber_shop.opening_days.each do |day| %>
        <div class="opening-hours">
            <p><%= day.capitalize %> : </p>  <p>   <%= @barber_shop.opening_hours %></p>

        </div>
          <% end %>
      </div>
    <div class="footer-details">
      <div class="footer-links">
        <a href="#"><i class="fab fa-github"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
      </div>
    </div>
  </div>
</div>
