<h1>Sélectionnez une date</h1>
<%= simple_form_for booking, html: {data: {controller: "flatpickr" }} do |f| %>
  <%= f.input :start_schedule_time, as: :string, required: false, label: false,
  input_html: {value: chosen_date ? chosen_date : "", class: "datepicker", data: { flatpickr_target: "datepickr", closing_days: barber_shop.closing_days, action: "change->available-hours#showHours", available_hours_target: "dateUser"}}%>
  <div data-available-hours-target="scheduleHours">
    <% if open_schedules  %>
      <%= f.input :start_datetime, as: :radio_buttons,
        collection_wrapper_tag: 'div',
        collection_wrapper_class: 'category-wrapper-book',
        item_wrapper_class: 'category-item-book',
        input_html: {class: 'category-selector-book'},
        collection: open_schedules,
        label_method: ->(schedule) { "#{schedule.hour}:#{schedule.minute.to_s.rjust(2, "0")}"}%>
    <% end %>
  </div>
  <%= f.submit class: "button-book"%>
  <%= f.hidden_field :shop_service_id, value: params[:shop_service_id] %>
  <% shop_services.each do |shop_service| %>
    <%= hidden_field_tag 'booking_services[]', shop_service.id %>
  <% end %>
<% end %>
