<div class ="container book">
  <h1> <%= BarberShop.find_by(params[:barber_shop_id]).name %></h1>
  <div class="show-services" id="book-services">
    <div class="service-details">
      <div id="book-description">
        <h3><%= @shop_service.service.name %></h3>
        <p><%= @shop_service.description %></p>
      </div>
      <div class="text-right">
        <p><strong><%= @shop_service.price %> €</strong></p>
        <p><i class="far fa-clock"></i>  <%= @shop_service.duration %>mn</p>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="form-wrapper" id ="calendar" style="width: 400px; margin: 0 auto; inline: true;">
      <h1>Sélectionnez une date et une heure</h1>

      <%= simple_form_for @booking do |f| %>
        <%= f.input :start_datetime, as: :string, required: false, input_html: {class: "datepicker", id:"valeur"} %>
        <%= f.submit class: "button-book"%>
        <%= f.hidden_field :shop_service_id, value: params[:shop_service_id] %>
      <% end %>
    </div>
  </div>

</div>

<% console %>
