<div class ="container book">
  <div class="new-book-title">
    <%= link_to url_for(:back), class: "back-arrow" do %>
      <i class="fas fa-arrow-left" id="back-new"></i>
    <% end %>
    <h1 id="title-new"><%= @barber_shop.name %></h1>
  </div>
  <div class="show-services" id="book-services">

    <div class="service-details-new">
      <% @shop_services.each do |shop_service| %>
        <div id="book-description">
          <div class="description-new"><%= shop_service.service.name %></div>
        <div class="text-right">
          <p><strong><%= shop_service.price %> €</strong>  |  <i class="far fa-clock"></i>  <%= shop_service.duration %>mn</p>
        </div>
        </div>
      <% end %>
      <div class="underline"></div>
      <div class="total-new">
      <div class="total-price-duration">Total : </div>
      <div class="total-price-duration"> <%= @total_price %>€  | <i class="far fa-clock"> </i>  <%= @total_duration %>mn</div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="form-wrapper" id="calendar" style="width: 400px; margin: 0 auto; inline: true;" data-controller="available-hours">
      <%= render 'bookings/form', booking: @booking, barber_shop: @barber_shop, shop_services: @shop_services, chosen_date: nil, open_schedules: nil %>
    </div>
  </div>
</div>
