<div class ="container book">
  <h1><%= @barber_shop.name %></h1>
  <div class="show-services" id="book-services">

    <% @shop_services.each do |shop_service| %>
      <div class="service-details">
        <div id="book-description">
          <h3><%= shop_service.service.name %></h3>
          <p><%= shop_service.description %></p>
        </div>
        <div class="text-right">
          <p><strong><%= shop_service.price %> €</strong></p>
          <p><i class="far fa-clock"></i>  <%= shop_service.duration %>mn</p>
        </div>
      </div>
    <% end %>

  </div>

  <div id="available-days" type="button">
    <ul>
        <% @barber_shop.available_days.each do |available_day| %>
          <li><%= available_day %></li>
        <% end %>
    </ul>
  </div>



  <div class="container">
    <div class="form-wrapper" id="calendar" style="width: 400px; margin: 0 auto; inline: true;" data-controller="available-hours">
      <%= render 'bookings/form', booking: @booking, barber_shop: @barber_shop, shop_services: @shop_services, chosen_date: nil, open_schedules: nil %>
    </div>
  </div>
</div>
