<div class="tabbar">
	<%= link_to root_path, class: "link #{"active-btn" if params[:controller] == "pages" && params[:action] == "home" }" do %>
      <div class="link-logo">
        <i class="fas fa-search"></i>
        <p>Explorer</p>
      </div>
  <% end %>

  <%= link_to favorie_path, class: "link #{"active-btn" if params[:controller] == "pages" && params[:action] == "home" }" do %>
      <div class="link-logo">
        <i class="far fa-heart"></i>
        <p>Favoris</p>
      </div>
  <% end %>

	<a href="#" class="link">
    <div class="link-logo">
      <i class="fas fa-cut"></i>
      <p>Réservations</p>
    </div>
	</a>

	<a href="#" class="link">
    <div class="link-logo">
      <i class="far fa-comment-dots"></i>
      <p>Messages</p>
    </div>
	</a>
  <%= link_to profile_path, class: "link #{"active-profile" if params[:controller] == "pages" && params[:action] == "profile" }" do %>
    <div class="link-logo">
      <% if user_signed_in? %>
        <%= cl_image_tag @user.photo.key, class: "border-white #{"border-profile" if params[:controller] == "pages" && params[:action] == "profile" }"  %>
      <% else %>
        <i class="fas fa-user-alt"></i>
      <% end %>
        <p>Profil</p>
    </div>
  <% end %>
</div>
<%= console %>
