<div class="title-reservation">
  <h1>Mes reservations</h1>
</div>

<ul class="nav nav-pills mb-1 d-flex justify-content-around" id="pills-tab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="pills-coiffures-tab" data-toggle="pill" href="#pills-coiffures" type="button" role="tab" aria-controls="pills-coiffures" aria-selected="true">Passé</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="pills-portfolio-tab" data-toggle="pill" href="#pills-portfolio" type="button" role="tab" aria-controls="pills-portfolio" aria-selected="false">À venir</a>
  </li>
</ul>

<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-coiffures" role="tabpanel" aria-labelledby="pills-coiffures-tab">
    <% current_user.bookings.past do |booking| %>
      <% booking.bookings_services.each do |booking_service| %>
        <div class="container-booking">
          <div class="booking-prestation">
            <h3><%= booking_service.shop_service.service.name %></h3>
            <p><%= booking_service.booking.start_datetime.strftime("%d/%m/%y") %> - <%= booking_service.booking.end_datetime.strftime("%d/%m/%y") %></p>
            <p><i class="far fa-clock"></i>  <%= booking_service.shop_service.duration %>mn</p>
            <p>prix:  <%= booking_service.booking.total_amount %> €</p>
          </div>
          <div class="booking-shop">
              <h3><%= booking_service.shop_service.barber_shop.name %></h3>
              <p><%= booking_service.shop_service.barber_shop.address %></p>
              <p> <i class="fas fa-phone-alt"> </i> <%= booking_service.shop_service.barber_shop.phone_number %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="tab-pane fade" id="pills-portfolio" role="tabpanel" aria-labelledby="pills-portfolio-tab">
    <div class="portfolio_wrap">
    <% current_user.bookings.upcoming do |booking| %>
      <% booking.bookings_services.each do |booking_service| %>
        <div class="container-booking">
          <div class="booking-prestation">
            <h3><%= booking_service.shop_service.service.name %></h3>
            <p><%= booking_service.booking.start_datetime.strftime("%d/%m/%y") %> - <%= booking_service.booking.end_datetime.strftime("%d/%m/%y") %></p>
            <p><i class="far fa-clock"></i>  <%= booking_service.shop_service.duration %>mn</p>
            <p>prix:  <%= booking_service.booking.total_amount %> €</p>
          </div>
          <div class="booking-shop">
              <h3><%= booking_service.shop_service.barber_shop.name %></h3>
              <p><%= booking_service.shop_service.barber_shop.address %></p>
              <p> <i class="fas fa-phone-alt"> </i> <%= booking_service.shop_service.barber_shop.phone_number %></p>
          </div>
        </div>
      <% end %>
    <% end %>
    </div>
  </div>
</div> 
